<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <title>Analiza</title>
    <style>
        h1{
            color:red
        }
    </style>
</head>
<body>
    <h1>Result: </h1>
    <span><%= numChars %></span>
    <br />
    <span><%= lessThanFive %></span>
    <br />
    <span><%= moreThanFive %></span>
    <br />
    <span><%= equalToFive %></span>
    <br />
    <span><%= sentenceLength %></span>
    <br />
    <span><%= wordLength %></span>
    <br />
    <span><%= wordsVowels %></span>
</body>
</html>